@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn-VariableFont_wght.ttf');
  font-weight: 100 900;
}

*, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Vollkorn', system-ui, sans-serif;
}

.left {
  color: white;
  flex: 1;
  max-width: 350px;
  min-height: 100svh;
  background-color: #0B111B;
}

.right {
  flex: 3;
  background-color: #F2F6FF;
  min-height: 100svh;
  overflow-y: scroll;
}

.logo {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 2.25rem;
  font-weight: 600;
  font-size: 1.5rem;

  & svg {
    margin-top: -.25rem;
  }
}

.navigation {
  margin-top: 4rem;

  & li {
    display: block;
    list-style: none;
    margin-bottom: .25rem;
  }

  & a {
    display: block;
    padding: 1rem 2rem;
    background: transparent;
    color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.125rem;
  }

  & a:hover, & a:focus {
    background: linear-gradient(to right, #18125B00, #201A40ff);
  }
}
