@font-face {
  font-family: 'Vollkorn';
  src: url('./assets/Vollkorn-VariableFont_wght.ttf');
  font-weight: 100 900;
}

*, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Vollkorn', system-ui, sans-serif;
}

li {
  list-style: none;
}

.left {
  color: white;
  flex: 1;
  max-width: 350px;
  min-height: 100svh;
  background-color: #0B111B;
}

.right {
  flex: 3;
  padding: 0 2rem;
  background-color: #F2F6FF;
  min-height: 100svh;
  overflow-y: scroll;
}

.logo {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 2.25rem;
  font-weight: 600;
  font-size: 1.5rem;

  & svg {
    margin-top: -.25rem;
  }
}

.navigation {
  margin-top: 4rem;

  & li {
    display: block;
    margin-bottom: .25rem;
  }

  & a {
    display: block;
    padding: 1rem 2rem;
    background: transparent;
    color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.125rem;
  }

  & a:hover, & a:focus {
    background: linear-gradient(to right, #18125B00, #201A40ff);
  }
}

section {
  margin-top: 2.5rem;

  & p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.card-list {
  display: flex;
  gap: 1rem;

  & > * {
    flex: 1;
    min-height: 8rem;
  }

  & div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
  }
}

.card-title {
  font-size: 1.125rem;
  font-weight: 500;
  align-self: flex-start;
  justify-self: flex-start;
}

.card-value {
  font-size: 3.5rem;
  font-weight: 500;
  align-self: flex-end;
  justify-self: flex-end;
  line-height: 75%;
}

table {
  width: 100%;
  border-spacing: 0 .25rem;
}

thead td {
  font-weight: 600;
}

tbody tr {
  background-color: white;

  & :first-of-type {
    padding-left: .5rem;
  }


  & :last-of-type {
    padding-right: .5rem;
  }

  & a {
    padding: 0!important;
  }
}

tbody td {
  padding-top: .25rem;
  padding-bottom: .25rem;
}